<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" routerLink="/">

      <img src="assets/logo.png" alt="Logo" width="30" height="30" class="me-2" />

      <span>QuickFileTools</span>

    </a>



    <!-- Toggle Button for Mobile -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>



    <!-- Navbar Links -->

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">

          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

        </li>

        <li class="nav-item">

          <a class="nav-link" routerLink="/files" routerLinkActive="active">Files</a>

        </li>

        <li class="nav-item">

          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>

        </li>

      </ul>

    </div>

  </div>

</nav>



<main class="container-fluid mt-3 mb-5">

  <!-- <router-outlet></router-outlet> -->

  <app-file-tool-grid></app-file-tool-grid>

</main>

<footer class="bg-dark text-white text-center py-3 mt-auto shadow-sm">

  <div class="container">

    <small>© {{ "2025" }} QuickFileTools. All Rights Reserved.</small>

  </div>

</footer>