.navbar-brand span {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-link.active {
  color: #1abc9c !important;
}
.nav-link {
  transition: color 0.2s ease;
}
.nav-link:hover {
  color: #1abc9c !important;
}

    

footer {

  position: fixed;

  bottom: 0;

  width: 100%;

  z-index: 10;

}

 